.page-container {
  position: relative;
}
a:hover{
  color:  #cfff04;
  transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
a {
  color:  white;
  text-decoration: none;
}
a:link, a:hover, a:active, a:focus {
  outline: 0;
  border: 0;
  text-decoration: none;
}
