.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.landing-year {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-top: 10px;
    font-weight: bold;
}
.landing-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.landing-sub {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.sub {
    font-family: 'Codystar', cursive;
    letter-spacing: .5rem;
    color: white;
    text-shadow: 0 -40px 100px, 
    0 0 2px, 
    0 0 1em yellow,
    0 0 .2em yellow,
    0 0 0.1em yellow, 
    0 15px 3px black;
}
.sub span { 
    animation: flicker linear infinite 4s; 
}
.sub span:nth-type(2) {
    animation: flicker linear infinite 5s;   
}

/* Phone & Tablet */
@media only screen and (max-width: 767px) {
    .landing-year {
        font-size: 9rem;
        padding-top: 20px;
    }
    .landing-wrapper {
        width: 350px;
        font-size: 4rem;
        text-transform: uppercase;
    }
    .landing-main {
        padding: 20px 15px 20px 0;
    }
    .landing-sub {
        font-size: 1.2rem;
        text-align: center;
        padding: 20px 0;
        letter-spacing: .15rem;
        margin-bottom: -30px;
    }
    .landing-main {
        width: 250px;
    }
    .landing-container {
        margin: 50px 0 0 0;
    }
}
/* PC */
@media only screen and (min-width:768px) {
    .landing-container {
        margin: 100px 0 0 0;
    }
    .landing-year {
        font-size: 20rem;
    }
    .landing-wrapper {
        width: 800px;
        font-size: 9rem;
        text-transform: uppercase;
    }
    .landing-main {
        padding-top: 25px;
    }
    .landing-sub {
        font-size: 4rem;
        text-align: center;
        padding: 100px 0 0 0;
    }
}

@keyframes flicker {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79% {
        color: #333;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}