.searchbar {
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    justify-content: center;
    height: 45px;
    width: 400px;
}
label {
    padding: 5px 20px 5px 5px;
}
input[type=text] {
    color: white;
    background-color: transparent;
    border: 2px solid #3F486C;
    border-radius: 25px;
    width: 70%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 1.5rem;
    padding: 25px;
}
input[type=text]:focus {
    background-color: transparent;
    outline: 0;
    border: 2px solid rgb(221, 221, 221);
}
.clear {
    margin-left: -70px;
    margin-top: -5px;
    padding: 20px;
}

/* Phone & Tablet */
@media only screen and (max-width: 767px) {
    form {
        min-width: 400px;
    }
}
@media only screen and (min-width:768px) {
    form {
        min-width: 1000px;
    }
}