.msg-banner {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color:rgb(0, 140, 255);
    font-size: 1.5rem;
    padding: 5px;
    width: 100%;
    z-index: 50;
}
.msg-banner > * {
    padding-left: 10px;
}