.search-result-card {
    border: 3px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    background-color: #6d6d8325;
    height: 300px;
}
button.nomination {
    border-radius: 5px;
    background-color: rgb(0, 140, 255);
    padding: 10px;
    color: white;
    font-weight: 700;
    border-color: #acc9ff88;
    height: 20px;
    border-bottom: 3px solid rgb(0, 106, 192);
    border-right: 2px solid rgb(0, 106, 192);
    text-shadow: 0px -2px rgba(0, 0, 0, 0.363);
}
button.nomination:hover {
    background-color: rgb(29, 153, 255);
    cursor: pointer;
}
button.nomination:disabled {
    background-color: transparent;
    color: gold;
    border: 0;
    padding: 10px;
    font-weight: 700;
    cursor: default;
 }
 .card-content {
    display: flex;
    justify-content: space-between;
    padding: 25px;
 }
.movie-img {
    width:150px;
    height: 200px;
}
.movie-info {
    padding: 0 20px;
    width: 700px;
    font-size: 1.1rem;
    font-weight: normal;
}
.movie-info > * {
    padding: 5px 0;
}
.text-spacing {
    padding: 0 10px;
}
.card-content--items {
    display: flex;
}
.movie-title {
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: .1rem;
}
.movie-genre {
    border-radius: 5px;
    border: 2px solid white;
    margin: 3px;
    padding: 2px 5px;
}
.genres {
    margin: 15px 0;
}
.metacritic {
    padding: 2px;
    position: relative;
    top: -3px;
    border-radius: 1px;
    color: black;
    font-weight: bold;
}
.metascore-red {
    background: #f00;
}
.metascore-green {
    background:  #6c3;
}
.metascore-yellow {
    background: #fc3;
}
span img {
    border: None;
    border-radius: 1px;
}
.rating-icons {
    height: 20px;
    width: 20px;
}
.rating-type {
    padding-left: 10px;
}
.text-light {
    color: rgb(224, 224, 224);
}
.move-img {
    height: 158px;
    width: 200px;
}
.fa-star {
    color: rgb(255, 255, 134);
    text-shadow:
    5px 7px 3px rgba(0, 0, 0, 0.699);
    animation: glow 4s infinite;
}


/* Phone & Tablet */
@media only screen and (max-width: 767px) {
    .container-results {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .search-result-card {
        position: relative;
        max-width: 320px;
        display: flex;
        height: 255px;
    }
    .movie-info {
        width: 300px;
    }
    .movie-title {
        padding-top: 15px;
        width: 120px;
        position: relative;
        font-size: 1.1rem;
        border-bottom: none;
        top: 0px;
        left: -15px;
        text-shadow: 2px 2px black;
        margin: 0;
    }
    .dir, .stars, .plot, .genres {
        display: none;
    }
    .ratings {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -15px;
        font-size: 1.2rem;
    }
    .ratings > * {
       padding: 2px;
    }
    .card-content {
        height: 200px;
        width: 270px;
    }
    button.nomination  {
        position: relative;
        left: -335px;
        top: 170px;
        height: 15px;
    }
    .fa-star {
        position: relative;
        left: 101px;
        top: -205px;
        font-size: 1.5rem;
    }
    .movie-img {
        position: relative;
        top: 0px;
        left: -15px;
    } 
}
/* PC */
@media only screen and (min-width:768px) {
   .container-results {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .search-result-card {
        position: relative;
        max-width: 788px;
        display: flex;
        height: auto;
    }
    .movie-info {
        width: 525px;
    }
    .movie-title {
        position: relative;
        font-size: 1.5rem;
        text-shadow: 2px 2px black;
        width: 500px;
    }
    .ratings > * {
        padding: 5px;
    }
    button.nomination  {
        position: relative;
        left: -75px;
        top: -11px;
    }
    .fa-star {
        position: relative;
        left: 70px;
        top: -15px;
        font-size: 2rem;
    }
    .movie-img {
        position: relative;
        top: 10px;
        left: -10px;
    } 
}

@keyframes glow {
    0% {
        color:  rgb(255, 255, 59);
        text-shadow: 0 -20px 200px, 
        0 0 2px, 
        0 0 1em rgb(255, 255, 134),
        0 0 .2em rgb(255, 255, 134),
        0 0 0.1em rgb(255, 255, 134), 
        4px 4px 3px rgba(0, 0, 0, 0.699);
    }

    50% {
        text-shadow: 0 0 20px black, 
        4px 4px 3px black; 
    }  

    100% {
        color:  rgb(255, 255, 59);
        text-shadow:
            0 -20px 200px, 
            0 0 2px, 
            0 0 1em rgb(255, 255, 134),
            0 0 .2em rgb(255, 255, 134),
            0 0 0.1em rgb(255, 255, 134), 
            4px 4px 3px rgba(0, 0, 0, 0.699);
    }
}
  