
 .page-navigation {
     display: flex;
     justify-content: space-between;
 }
 .results-header {
     font-size: 2rem;
     font-weight: 700;
     letter-spacing: .2rem;
     text-transform: uppercase;
     padding-bottom: 6px;
 }
 button.page {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 15px;
    padding: 5px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
 }
 .next-text {
     padding-right: 5px;
 }
 .prev-text {
     padding-left: 5px;
 }
 button.prev:disabled {
     background-color: rgb(219, 219, 219);
     inset: 2px double black;
     cursor: default;
 }
 button.next:disabled {
    background-color: rgb(219, 219, 219);
    inset: 2px double black;
    cursor: default;
 }
 .center {
    display:flex;
    justify-content: center;
}

/* Phone & Tablet */
@media only screen and (max-width: 767px) {
    .results-header {
        padding: 20px 0 10px 0;
        font-size: 1.5rem;
        text-align: center;
        width: 95vw;
    }
    .page-navigation {
        width: 350px;
    }
}

@media only screen and (min-width:768px) {
    .results-header {
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .2rem;
        text-transform: uppercase;
        padding-bottom: 6px;
        position: relative;
        left: -215px;          
    }
    .container-results {
        padding: 10px 70px;
        border-radius: 10px;
        margin: 20px 0;
     }
     .page-navigation {
         width: 820px;
     }
}